$device_pc: 1280;
$device_tab: 1140;
$device_sp: 750;
$breakpoint-tablet: 1141px;
$breakpoint-mobile: 769px;

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin sp {
  @media only screen and (max-width: 769px) {
    @content;
  }
}

html {
  font-family: "Noto sans JP", serif;
}

section {
  h2 {
    font-size: 26px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    font-family: "Noto Serif JP", serif;
    padding-left: 0;
    @include sp {
      font-size: 18px;
    }

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 100px;
      height: 4px;
      background: #c78e00;
      transform: none;
      border: none;
      @include sp {
        width: 45px;
        height: 3px;
      }
    }
  }
}

.is-pc {
  @include tablet {
    display: none;
  }
}

.is-sp {
  display: none;
  @include sp {
    display: block;
  }
}

[data-observe] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#content {
  @media only screen and (max-width: 800px) {
    padding-top: 0;
  }
}

.swiper {
  &__logo {
    width: calc(320 / #{$device_pc} * 100vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    animation: showObj 1s 3s ease forwards;
    img {
      filter: drop-shadow(5px 5px 5px #00000050);
      width: 100%;
    }
  }

  &__title {
    width: calc(500 / #{$device_pc} * 100vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    // opacity: 0;
    animation: hiddenObj 1s 2s ease-in-out forwards;

    img {
      width: 100%;
    }
  }

  @keyframes showObj {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hiddenObj {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .swiper-slide {
    img {
      width: 100%;
    }
  }
}

#NEWS {
  margin-top: 50px;
  @include sp {
    margin-top: 40px;
  }

  img {
    margin-top: 70px;
    max-width: 1200px;
    width: 100%;
  }
}

#CONCEPT {
  margin-top: 100px;
  @include sp {
    margin-top: 60px;
  }

  .article {
    .article_head {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding-inline: 30px;

      @include sp {
        flex-direction: column;
        padding-inline: 0px;
      }

      &__title {
        font-family: "Noto Serif JP", serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.1em;
        color: #c78e00;
        margin-top: 50px;

        @include tablet {
          flex-direction: column;
          font-size: 32px;
        }

        @include sp {
          font-size: 32px;
          margin-top: 0px;
          padding-bottom: 0;
        }
      }

      &__text {
        margin-top: 20px;
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 1.8;
        @include tablet {
          font-size: 18px;
        }
        @include sp {
          margin-top: 15px;
          font-size: 18px;
        }
      }

      &__img {
        max-width: 500px;
        width: 100%;
        height: fit-content;
        position: relative;
        flex-shrink: 1;

        @include tablet {
          max-width: 300px;
        }

        @include sp {
          max-width: none;
        }

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: #f2dfdb;
          top: 30px;
          right: -30px;
          z-index: -1;
          @include sp {
            top: 20px;
            right: -20px;
          }
        }
        img {
          width: 100%;
          margin: 0;
          max-width: none;
        }
      }

      &__caption {
        max-width: 540px;
        width: 100%;

        flex-shrink: 2;
        @include sp {
          max-width: 100%;
        }
      }
    }

    &__subtitle {
      font-family: "Noto Serif JP", serif;
      font-size: 40px;
      letter-spacing: 0.075em;
      padding-bottom: 0;
      margin-top: 120px;
      @include sp {
        font-size: 32px;
        line-height: 1.3;
        margin-top: 100px;
      }
    }

    &__column {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin-top: 40px;

      @include sp {
        flex-direction: column-reverse;
        margin-top: 25px;
      }
    }

    &__img {
      max-width: 600px;
      width: 100%;
      flex-shrink: 1;
      @include tablet {
        max-width: 400px;
      }
      @include sp {
        max-width: none;
      }
      img {
        width: 100%;
        max-width: none;
        margin: 0;
      }
    }

    &__texts {
      flex-shrink: 2;
    }

    &__text {
      font-size: 20px;
      letter-spacing: 0.05em;
      line-height: 1.8;
      @include sp {
        font-size: 18px;
      }

      + .article__text {
        margin-top: 15px;
        @include sp {
          margin-top: 8px;
        }
      }
    }
  }
}

#TROUBLE,
.trouble_block {
  margin-top: 120px;
  @include sp {
    margin-top: 60px;
  }

  h2 {
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #000;
    margin: 0;
  }

  .inner {
    margin-top: 40px;
  }

  #TROUBLE01,
  #TROUBLE02,
  #TROUBLE03 {
    .article {
      margin-left: 10px;
      &::after {
        left: 490px;
        top: 120px;
        transform: scale(-1, 1);
      }

      @include sp {
        margin-top: 12px;
      }
    }

    .troubleTop,
    .troubleUnder {
      li {
        font-size: 20px;
        letter-spacing: 0.05em;

        + li {
          margin-top: 10px;
        }

        span {
          background-image: url(../images/ico_check.png);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 0.8em;
          padding-left: 1.1em;
        }
      }
    }

    .trouble_contents {
      .trouble_section {
        + .trouble_section {
          margin-top: 70px;
          @include sp {
            margin-top: 40px;
          }
        }

        &__title {
          font-family: "Noto Serif JP", serif;
          font-size: 40px;
          font-weight: 700;
          line-height: 1.4;
          letter-spacing: 0.1em;
          color: #c78e00;
          @include sp {
            font-size: 32px;
          }
        }

        &__lead {
          font-size: 40px;
          line-height: 1.5;
          font-family: "Noto Serif JP", serif;
          font-weight: 700;
          display: inline-block;
          @include sp {
            font-size: 24px;
          }

          span {
            display: block;
            text-align: right;
            @include tablet {
              width: auto;
              text-align: left;
              display: inline;
            }
          }
        }

        &__text {
          font-size: 22px;
          margin-top: 20px;
          margin-bottom: 0px !important;
          font-weight: 400;
          line-height: 1.8;
          @include sp {
            font-size: 18px;
          }

          + .trouble_section__text {
            margin-top: 5px;
          }
        }

        &__sample {
          display: flex;
          gap: 20px;
          width: 100%;
          @include sp {
            gap: 10px;
            // flex-direction: column;
          }
        }

        &__sample_item {
          img {
            width: 100%;
          }
        }

        .trouble_section_list {
          margin-top: 30px;
          &__item {
            font-size: 22px;
            font-weight: 400;
            padding-left: 1em;
            text-indent: -1em;
            @include sp {
              font-size: 18px;
            }

            + .trouble_section_list__item {
              margin-top: 15px;
            }

            + .trouble_section__text {
              margin-top: 30px;
            }
          }
        }
      }

      .trouble_subsection {
        &__title {
          font-family: "Noto Serif JP", serif;
          font-size: 32px;
        }

        &__text {
          font-size: 23px;
          margin-top: 10px;
          line-height: 1.8;
        }

        &__note {
          font-size: 20px;
        }
      }

      .trouble_price {
        margin-top: 100px;
        @include sp {
          margin-top: 60px;
        }

        &__title {
          font-family: "Noto Serif JP", serif;
          font-size: 32px;
          padding-bottom: 0px;
          @include sp {
            font-size: 28px;
            line-height: 1;
          }
          span {
            font-size: 20px;
            @include sp {
              font-size: 14px;
            }
          }
        }

        &__course {
        }

        &__list {
          margin-top: 20px;
          max-width: 800px;
          width: 100%;
        }

        &__item {
          font-size: 23px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include sp {
            font-size: 18px;
            flex-direction: column;
            align-items: flex-start;
          }

          + .trouble_price__item {
            @include sp {
              margin-top: 20px;
            }
          }

          p {
            background-image: none !important;
            margin-bottom: 0 !important;
            padding-left: 1em;
            text-indent: -1em;
            + p {
              margin-top: 15px;
              @include sp {
                margin-top: 0;
              }
            }
            &.price {
              font-size: 26px;
              font-family: "Roboto";
              font-weight: 600;
              position: relative;
              padding-left: 0;
              text-indent: 0;
              @include sp {
                font-size: 18px;
                align-self: flex-end;
              }
            }
            span {
              font-size: 14px;
              position: absolute;
              font-weight: 300;
              top: 101%;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              width: 150%;
              background-image: none !important;
              padding-left: 0 !important;

              @include sp {
                font-size: 12px;
              }
            }
          }
        }

        &__note {
          @include sp {
            margin-top: 24px;
            font-size: 12px;
            text-indent: -1em;
          }
        }

        &__sub_list {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &__sub_item {
        }
      }

      .trouble_qa {
        margin-top: 100px;
        @include sp {
          margin-top: 60px;
        }
        &__title {
          font-family: "Noto Serif JP", serif;
          font-size: 32px;
          @include sp {
            font-size: 28px;
          }
        }

        &__list {
          margin-top: 20px;

          + .trouble_qa__list {
            margin-top: 30px;
            @include sp {
              margin-top: 18px;
            }
          }
        }

        summary,
        details {
          cursor: pointer;
          &::-webkit-details-marker {
            display: none;
          }
        }

        &__question {
          position: relative;
          padding-left: 2em;
          font-size: 23px;
          list-style: none;
          // cursor: pointer;
          @include sp {
            padding-left: 30px;
            font-size: 18px;
          }

          &::before {
            content: "Q";
            color: #ff0000;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 700;
            font-size: 24px;
            @include sp {
              font-size: 18px;
            }
          }
        }

        &__answer {
          // font-family: ;
          position: relative;
          padding-left: 2em;
          font-size: 23px;
          margin-top: 10px;
          line-height: 1.8;

          @include sp {
            font-size: 18px;
            padding-left: 30px;
          }

          &::before {
            content: "A";
            color: #0000ff;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 700;
            font-size: 24px;
            @include sp {
              font-size: 18px;
            }
          }
        }
      }

      &__reserve {
        margin-top: 80px;
        text-align: center;
        @include sp {
          margin-top: 60px;
        }
        a {
          color: #fff;
          font-weight: 700;
          font-size: 21px;
          display: inline-block;
          background: #c59f98;
          padding: 18px 30px;
          max-width: 420px;
          width: 100%;
          border-radius: 5px;
          transition: 0.3s opacity;

          @include sp {
            font-size: 18px;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  #TROUBLE02 {
    margin-top: 120px;
    @include sp {
      margin-top: 60px;
    }
  }

  #TROUBLE03 {
    margin-top: 120px;
    @include sp {
      margin-top: 60px;
    }
  }
}

#GUIDE {
  h3 {
    line-height: 1.4;
    @include sp {
      font-size: 32px;
    }
  }

  .guide_section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: -150px;

    @include tablet {
      margin-top: 0;
    }

    @include sp {
      flex-direction: column;
      margin-top: 45px;
      gap: 20px;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
      @include sp {
        flex-direction: column;
      }
    }

    + .guide_section {
      margin-top: 60px;
    }

    &__texts {
      flex-basis: 50%;
    }

    h4 {
      font-family: "Noto Serif JP", serif;
      font-size: 32px;
      @include sp {
        font-size: 28px;
        margin: 0;
      }
    }

    p {
      font-size: 23px;
      margin: 15px 0 0 0;
      line-height: 1.8;
      @include sp {
        font-size: 18px;
        margin: 8px 0 0 0;
      }
      span {
        display: block;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 5px;
        color: #606060;
        padding-left: 1em;
        text-indent: -1em;
        @include sp {
          font-size: 12px;
        }
      }
    }

    &__images {
      flex-basis: 50%;

      &--2col {
        .guide_section__img {
          width: 70%;
          &:nth-child(1) {
            margin-left: auto;
          }
          &:nth-child(2) {
            margin-top: 10px;
            &::after {
              top: 0;
              height: calc(100% + 5%);
            }
          }
        }
      }
    }

    &__img {
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #f2dfdb;
        top: 5%;
        right: -3%;
      }
    }
  }
}

#PRICE {
  .price_section {
    // max-width: 1024px;
    width: 100%;
    margin: auto;

    + .price_section {
      margin-top: 120px;
      @include sp {
        margin-top: 60px;
      }
    }

    &__title {
      font-family: "Noto Serif JP", serif;
      font-size: 32px;
      color: #57443d;
      padding-bottom: 10px;
      border-bottom: 3px solid #57443d;
      @include sp {
        font-size: 24px;
        padding-bottom: 5px;
        border-bottom: 2px solid #57443d;
      }
    }

    &__list {
      // width: 90%;
    }

    &__item {
      font-size: 23px;
      margin-top: 30px;
      @include sp {
        font-size: 18px;
      }

      + .price_section__item {
        margin-top: 35px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include sp {
          flex-direction: column;
          gap: 8px;
        }

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background: #68482f;
          display: block;
          border-radius: 100%;
          margin: 8px 20px 0 0;
          align-self: flex-start;
          @include sp {
            display: none;
          }
        }
      }

      span {
        display: inline-block;
        margin-left: auto;
        font-weight: 600;
      }
    }

    &__sub_list {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      margin-top: 8px;
      @include sp {
        flex-wrap: wrap;
        font-size: 12px;
        gap: 5px;
        margin-top: 10px;
      }
    }

    &__sub_item {
      background: #e3b6b0;
      padding: 3px 7px;
    }
  }
  .voice_reserve {
    margin-top: 80px;
    text-align: center;
    a {
      color: #fff;
      font-weight: 700;
      font-size: 21px;
      display: inline-block;
      background: #c59f98;
      padding: 18px 30px;
      max-width: 420px;
      width: 100%;
      border-radius: 5px;
      transition: 0.3s opacity;
      @include sp {
        font-size: 18px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

#CONTACT {
  padding-bottom: 180px;
  @include sp {
    padding-bottom: 100px;
  }
  .contact_section {
    display: flex;
    align-items: center;
    gap: 50px;
    @include sp {
      gap: 20px;
      flex-direction: column;
    }
    + .contact_section {
      margin-top: 40px;
      @include sp {
        margin-top: 70px;
      }
    }
    &__img {
      max-width: 400px;
      width: 100%;
      @include sp {
        max-width: 100%;
      }
      img {
        width: 100%;
      }
    }

    &__info {
      width: 100%;
    }

    &__title {
      font-size: 28px;
      font-family: "Noto Serif JP", serif;
      font-weight: 700;
      line-height: 1.3;
      @include sp {
        font-size: 24px;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 1.8;
    }

    &__map {
      background: #c59f98;
      color: #fff;
      display: block;
      padding: 15px 20px;
      text-align: center;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
      max-width: 400px;
    }
  }
}

.reserve_block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #efebe6;
  display: none;
  gap: calc(12 / #{$device_sp} * 100vw);
  align-items: center;
  justify-content: center;
  padding: calc(18 / #{$device_sp} * 100vw) calc(14 / #{$device_sp} * 100vw);
  z-index: 100;
  @include sp {
    display: flex;
  }
  

  &__btn {
    color: #fff;
    font-weight: 500;
    font-size: calc(27 / #{$device_sp} * 100vw);
    padding: calc(20 / #{$device_sp} * 100vw) calc(40 / #{$device_sp} * 100vw) calc(21 / #{$device_sp} * 100vw);
    display: inline-block;
    border-radius: 100px;

    &.asaka {
      background: #c59f98;
    }

    &.wako {
      background: #b8a576;
    }
  }
}
