html {
  font-family: "Noto sans JP", serif;
}

section h2 {
  font-size: 26px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  font-family: "Noto Serif JP", serif;
  padding-left: 0;
}
section h2::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 100px;
  height: 4px;
  background: #c78e00;
  transform: none;
  border: none;
}

.is-sp {
  display: none;
}

[data-observe] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
[data-observe].visible {
  opacity: 1;
  transform: translateY(0);
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.swiper__logo {
  width: calc(320 / 1280 * 100vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  animation: showObj 1s 3s ease forwards;
}
.swiper__logo img {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3137254902));
  width: 100%;
}
.swiper__title {
  width: calc(500 / 1280 * 100vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: hiddenObj 1s 2s ease-in-out forwards;
}
.swiper__title img {
  width: 100%;
}
@keyframes showObj {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hiddenObj {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.swiper .swiper-slide img {
  width: 100%;
}

#NEWS {
  margin-top: 50px;
}
#NEWS img {
  margin-top: 70px;
  max-width: 1200px;
  width: 100%;
}

#CONCEPT {
  margin-top: 100px;
}
#CONCEPT .article .article_head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-inline: 30px;
}
#CONCEPT .article .article_head__title {
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #c78e00;
  margin-top: 50px;
}
#CONCEPT .article .article_head__text {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
#CONCEPT .article .article_head__img {
  max-width: 500px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 1;
}
#CONCEPT .article .article_head__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f2dfdb;
  top: 30px;
  right: -30px;
  z-index: -1;
}
#CONCEPT .article .article_head__img img {
  width: 100%;
  margin: 0;
  max-width: none;
}
#CONCEPT .article .article_head__caption {
  max-width: 540px;
  width: 100%;
  flex-shrink: 2;
}
#CONCEPT .article__subtitle {
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
  letter-spacing: 0.075em;
  padding-bottom: 0;
  margin-top: 120px;
}
#CONCEPT .article__column {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
}
#CONCEPT .article__img {
  max-width: 600px;
  width: 100%;
  flex-shrink: 1;
}
#CONCEPT .article__img img {
  width: 100%;
  max-width: none;
  margin: 0;
}
#CONCEPT .article__texts {
  flex-shrink: 2;
}
#CONCEPT .article__text {
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
#CONCEPT .article__text + .article__text {
  margin-top: 15px;
}

#TROUBLE,
.trouble_block {
  margin-top: 120px;
}
#TROUBLE h2,
.trouble_block h2 {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #000;
  margin: 0;
}
#TROUBLE .inner,
.trouble_block .inner {
  margin-top: 40px;
}
#TROUBLE #TROUBLE01 .article,
#TROUBLE #TROUBLE02 .article,
#TROUBLE #TROUBLE03 .article,
.trouble_block #TROUBLE01 .article,
.trouble_block #TROUBLE02 .article,
.trouble_block #TROUBLE03 .article {
  margin-left: 10px;
}
#TROUBLE #TROUBLE01 .article::after,
#TROUBLE #TROUBLE02 .article::after,
#TROUBLE #TROUBLE03 .article::after,
.trouble_block #TROUBLE01 .article::after,
.trouble_block #TROUBLE02 .article::after,
.trouble_block #TROUBLE03 .article::after {
  left: 490px;
  top: 120px;
  transform: scale(-1, 1);
}
#TROUBLE #TROUBLE01 .troubleTop li,
#TROUBLE #TROUBLE01 .troubleUnder li,
#TROUBLE #TROUBLE02 .troubleTop li,
#TROUBLE #TROUBLE02 .troubleUnder li,
#TROUBLE #TROUBLE03 .troubleTop li,
#TROUBLE #TROUBLE03 .troubleUnder li,
.trouble_block #TROUBLE01 .troubleTop li,
.trouble_block #TROUBLE01 .troubleUnder li,
.trouble_block #TROUBLE02 .troubleTop li,
.trouble_block #TROUBLE02 .troubleUnder li,
.trouble_block #TROUBLE03 .troubleTop li,
.trouble_block #TROUBLE03 .troubleUnder li {
  font-size: 20px;
  letter-spacing: 0.05em;
}
#TROUBLE #TROUBLE01 .troubleTop li + li,
#TROUBLE #TROUBLE01 .troubleUnder li + li,
#TROUBLE #TROUBLE02 .troubleTop li + li,
#TROUBLE #TROUBLE02 .troubleUnder li + li,
#TROUBLE #TROUBLE03 .troubleTop li + li,
#TROUBLE #TROUBLE03 .troubleUnder li + li,
.trouble_block #TROUBLE01 .troubleTop li + li,
.trouble_block #TROUBLE01 .troubleUnder li + li,
.trouble_block #TROUBLE02 .troubleTop li + li,
.trouble_block #TROUBLE02 .troubleUnder li + li,
.trouble_block #TROUBLE03 .troubleTop li + li,
.trouble_block #TROUBLE03 .troubleUnder li + li {
  margin-top: 10px;
}
#TROUBLE #TROUBLE01 .troubleTop li span,
#TROUBLE #TROUBLE01 .troubleUnder li span,
#TROUBLE #TROUBLE02 .troubleTop li span,
#TROUBLE #TROUBLE02 .troubleUnder li span,
#TROUBLE #TROUBLE03 .troubleTop li span,
#TROUBLE #TROUBLE03 .troubleUnder li span,
.trouble_block #TROUBLE01 .troubleTop li span,
.trouble_block #TROUBLE01 .troubleUnder li span,
.trouble_block #TROUBLE02 .troubleTop li span,
.trouble_block #TROUBLE02 .troubleUnder li span,
.trouble_block #TROUBLE03 .troubleTop li span,
.trouble_block #TROUBLE03 .troubleUnder li span {
  background-image: url(../images/ico_check.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.8em;
  padding-left: 1.1em;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section + .trouble_section,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section + .trouble_section,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section + .trouble_section,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section + .trouble_section,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section + .trouble_section,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section + .trouble_section {
  margin-top: 70px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__title,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__title,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__title,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__title,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__title,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__title {
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #c78e00;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__lead,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__lead,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__lead,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__lead,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__lead,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__lead {
  font-size: 40px;
  line-height: 1.5;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  display: inline-block;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__lead span,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__lead span,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__lead span,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__lead span,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__lead span,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__lead span {
  display: block;
  text-align: right;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__text,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__text,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__text,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__text,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__text,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__text {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0px !important;
  font-weight: 400;
  line-height: 1.8;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__text + .trouble_section__text,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__text + .trouble_section__text,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__text + .trouble_section__text,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__text + .trouble_section__text,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__text + .trouble_section__text,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__text + .trouble_section__text {
  margin-top: 5px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__sample,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__sample,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__sample,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__sample,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__sample,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__sample {
  display: flex;
  gap: 20px;
  width: 100%;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section__sample_item img,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section__sample_item img,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section__sample_item img,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section__sample_item img,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section__sample_item img,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section__sample_item img {
  width: 100%;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list {
  margin-top: 30px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item {
  font-size: 22px;
  font-weight: 400;
  padding-left: 1em;
  text-indent: -1em;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section_list__item,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section_list__item,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section_list__item,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section_list__item,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section_list__item,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section_list__item {
  margin-top: 15px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section__text,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section__text,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section__text,
.trouble_block #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section__text,
.trouble_block #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section__text,
.trouble_block #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item + .trouble_section__text {
  margin-top: 30px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_subsection__title,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_subsection__title,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_subsection__title,
.trouble_block #TROUBLE01 .trouble_contents .trouble_subsection__title,
.trouble_block #TROUBLE02 .trouble_contents .trouble_subsection__title,
.trouble_block #TROUBLE03 .trouble_contents .trouble_subsection__title {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_subsection__text,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_subsection__text,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_subsection__text,
.trouble_block #TROUBLE01 .trouble_contents .trouble_subsection__text,
.trouble_block #TROUBLE02 .trouble_contents .trouble_subsection__text,
.trouble_block #TROUBLE03 .trouble_contents .trouble_subsection__text {
  font-size: 23px;
  margin-top: 10px;
  line-height: 1.8;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_subsection__note,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_subsection__note,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_subsection__note,
.trouble_block #TROUBLE01 .trouble_contents .trouble_subsection__note,
.trouble_block #TROUBLE02 .trouble_contents .trouble_subsection__note,
.trouble_block #TROUBLE03 .trouble_contents .trouble_subsection__note {
  font-size: 20px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price {
  margin-top: 100px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__title,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__title,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__title,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__title,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__title,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__title {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  padding-bottom: 0px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__title span,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__title span,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__title span,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__title span,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__title span,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__title span {
  font-size: 20px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__list,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__list,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__list,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__list,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__list,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__list {
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__item,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__item,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__item {
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p {
  background-image: none !important;
  margin-bottom: 0 !important;
  padding-left: 1em;
  text-indent: -1em;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p + p,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p + p,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p + p,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p + p,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p + p,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p + p {
  margin-top: 15px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p.price,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p.price,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p.price,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p.price,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p.price,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p.price {
  font-size: 26px;
  font-family: "Roboto";
  font-weight: 600;
  position: relative;
  padding-left: 0;
  text-indent: 0;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p span,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p span,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p span,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p span,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p span,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p span {
  font-size: 14px;
  position: absolute;
  font-weight: 300;
  top: 101%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 150%;
  background-image: none !important;
  padding-left: 0 !important;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_price__sub_list,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_price__sub_list,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_price__sub_list,
.trouble_block #TROUBLE01 .trouble_contents .trouble_price__sub_list,
.trouble_block #TROUBLE02 .trouble_contents .trouble_price__sub_list,
.trouble_block #TROUBLE03 .trouble_contents .trouble_price__sub_list {
  display: flex;
  align-items: center;
  gap: 20px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa {
  margin-top: 100px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__title,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__title,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__title,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__title,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__title,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__title {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__list,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__list,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__list,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__list,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__list,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__list {
  margin-top: 20px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__list + .trouble_qa__list,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__list + .trouble_qa__list,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__list + .trouble_qa__list,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__list + .trouble_qa__list,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__list + .trouble_qa__list,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__list + .trouble_qa__list {
  margin-top: 30px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa summary,
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa details,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa summary,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa details,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa summary,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa details,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa summary,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa details,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa summary,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa details,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa summary,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa details {
  cursor: pointer;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa summary::-webkit-details-marker,
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa details::-webkit-details-marker,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa summary::-webkit-details-marker,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa details::-webkit-details-marker,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa summary::-webkit-details-marker,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa details::-webkit-details-marker,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa summary::-webkit-details-marker,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa details::-webkit-details-marker,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa summary::-webkit-details-marker,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa details::-webkit-details-marker,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa summary::-webkit-details-marker,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa details::-webkit-details-marker {
  display: none;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__question,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__question,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__question,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__question,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__question,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__question {
  position: relative;
  padding-left: 2em;
  font-size: 23px;
  list-style: none;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__question::before,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__question::before,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__question::before,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__question::before,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__question::before,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__question::before {
  content: "Q";
  color: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 24px;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__answer,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__answer,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__answer,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__answer,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__answer,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__answer {
  position: relative;
  padding-left: 2em;
  font-size: 23px;
  margin-top: 10px;
  line-height: 1.8;
}
#TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__answer::before,
#TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__answer::before,
#TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__answer::before,
.trouble_block #TROUBLE01 .trouble_contents .trouble_qa__answer::before,
.trouble_block #TROUBLE02 .trouble_contents .trouble_qa__answer::before,
.trouble_block #TROUBLE03 .trouble_contents .trouble_qa__answer::before {
  content: "A";
  color: #0000ff;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 24px;
}
#TROUBLE #TROUBLE01 .trouble_contents__reserve,
#TROUBLE #TROUBLE02 .trouble_contents__reserve,
#TROUBLE #TROUBLE03 .trouble_contents__reserve,
.trouble_block #TROUBLE01 .trouble_contents__reserve,
.trouble_block #TROUBLE02 .trouble_contents__reserve,
.trouble_block #TROUBLE03 .trouble_contents__reserve {
  margin-top: 80px;
  text-align: center;
}
#TROUBLE #TROUBLE01 .trouble_contents__reserve a,
#TROUBLE #TROUBLE02 .trouble_contents__reserve a,
#TROUBLE #TROUBLE03 .trouble_contents__reserve a,
.trouble_block #TROUBLE01 .trouble_contents__reserve a,
.trouble_block #TROUBLE02 .trouble_contents__reserve a,
.trouble_block #TROUBLE03 .trouble_contents__reserve a {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  display: inline-block;
  background: #c59f98;
  padding: 18px 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s opacity;
}
#TROUBLE #TROUBLE01 .trouble_contents__reserve a:hover,
#TROUBLE #TROUBLE02 .trouble_contents__reserve a:hover,
#TROUBLE #TROUBLE03 .trouble_contents__reserve a:hover,
.trouble_block #TROUBLE01 .trouble_contents__reserve a:hover,
.trouble_block #TROUBLE02 .trouble_contents__reserve a:hover,
.trouble_block #TROUBLE03 .trouble_contents__reserve a:hover {
  opacity: 0.8;
}
#TROUBLE #TROUBLE02,
.trouble_block #TROUBLE02 {
  margin-top: 120px;
}
#TROUBLE #TROUBLE03,
.trouble_block #TROUBLE03 {
  margin-top: 120px;
}

#GUIDE h3 {
  line-height: 1.4;
}
#GUIDE .guide_section {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: -150px;
}
#GUIDE .guide_section:nth-child(odd) {
  flex-direction: row-reverse;
}
#GUIDE .guide_section + .guide_section {
  margin-top: 60px;
}
#GUIDE .guide_section__texts {
  flex-basis: 50%;
}
#GUIDE .guide_section h4 {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
}
#GUIDE .guide_section p {
  font-size: 23px;
  margin: 15px 0 0 0;
  line-height: 1.8;
}
#GUIDE .guide_section p span {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 5px;
  color: #606060;
  padding-left: 1em;
  text-indent: -1em;
}
#GUIDE .guide_section__images {
  flex-basis: 50%;
}
#GUIDE .guide_section__images--2col .guide_section__img {
  width: 70%;
}
#GUIDE .guide_section__images--2col .guide_section__img:nth-child(1) {
  margin-left: auto;
}
#GUIDE .guide_section__images--2col .guide_section__img:nth-child(2) {
  margin-top: 10px;
}
#GUIDE .guide_section__images--2col .guide_section__img:nth-child(2)::after {
  top: 0;
  height: 105%;
}
#GUIDE .guide_section__img {
  position: relative;
  z-index: 1;
}
#GUIDE .guide_section__img::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #f2dfdb;
  top: 5%;
  right: -3%;
}

#PRICE .price_section {
  width: 100%;
  margin: auto;
}
#PRICE .price_section + .price_section {
  margin-top: 120px;
}
#PRICE .price_section__title {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  color: #57443d;
  padding-bottom: 10px;
  border-bottom: 3px solid #57443d;
}
#PRICE .price_section__item {
  font-size: 23px;
  margin-top: 30px;
}
#PRICE .price_section__item + .price_section__item {
  margin-top: 35px;
}
#PRICE .price_section__item p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#PRICE .price_section__item p::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #68482f;
  display: block;
  border-radius: 100%;
  margin: 8px 20px 0 0;
  align-self: flex-start;
}
#PRICE .price_section__item span {
  display: inline-block;
  margin-left: auto;
  font-weight: 600;
}
#PRICE .price_section__sub_list {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-top: 8px;
}
#PRICE .price_section__sub_item {
  background: #e3b6b0;
  padding: 3px 7px;
}
#PRICE .voice_reserve {
  margin-top: 80px;
  text-align: center;
}
#PRICE .voice_reserve a {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  display: inline-block;
  background: #c59f98;
  padding: 18px 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s opacity;
}
#PRICE .voice_reserve a:hover {
  opacity: 0.8;
}

#CONTACT {
  padding-bottom: 180px;
}
#CONTACT .contact_section {
  display: flex;
  align-items: center;
  gap: 50px;
}
#CONTACT .contact_section + .contact_section {
  margin-top: 40px;
}
#CONTACT .contact_section__img {
  max-width: 400px;
  width: 100%;
}
#CONTACT .contact_section__img img {
  width: 100%;
}
#CONTACT .contact_section__info {
  width: 100%;
}
#CONTACT .contact_section__title {
  font-size: 28px;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  line-height: 1.3;
}
#CONTACT .contact_section__text {
  font-size: 18px;
  line-height: 1.8;
}
#CONTACT .contact_section__map {
  background: #c59f98;
  color: #fff;
  display: block;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  max-width: 400px;
}
@media only screen and (max-width: 1024px) {
  .is-pc {
    display: none;
  }
  #CONCEPT .article .article_head__title {
    flex-direction: column;
    font-size: 32px;
  }
  #CONCEPT .article .article_head__text {
    font-size: 18px;
  }
  #CONCEPT .article .article_head__img {
    max-width: 300px;
  }
  #CONCEPT .article__img {
    max-width: 400px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section__lead span,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section__lead span,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section__lead span,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section__lead span,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section__lead span,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section__lead span {
    width: auto;
    text-align: left;
    display: inline;
  }
  #GUIDE .guide_section {
    margin-top: 0;
  }
}
@media only screen and (max-width: 800px) {
  section h2 {
    font-size: 18px;
  }
  section h2::before {
    width: 45px;
    height: 3px;
  }
  .is-sp {
    display: block;
  }
  #content {
    padding-top: 0;
  }
  #NEWS {
    margin-top: 40px;
  }
  #CONCEPT {
    margin-top: 60px;
  }
  #CONCEPT .article .article_head {
    flex-direction: column;
    padding-inline: 0px;
  }
  #CONCEPT .article .article_head__title {
    font-size: 32px;
    margin-top: 0px;
    padding-bottom: 0;
  }
  #CONCEPT .article .article_head__text {
    margin-top: 15px;
    font-size: 18px;
  }
  #CONCEPT .article .article_head__img {
    max-width: none;
  }
  #CONCEPT .article .article_head__img::before {
    top: 20px;
    right: -20px;
  }
  #CONCEPT .article .article_head__caption {
    max-width: 100%;
  }
  #CONCEPT .article__subtitle {
    font-size: 32px;
    line-height: 1.3;
    margin-top: 100px;
  }
  #CONCEPT .article__column {
    flex-direction: column-reverse;
    margin-top: 25px;
  }
  #CONCEPT .article__img {
    max-width: none;
  }
  #CONCEPT .article__text {
    font-size: 18px;
  }
  #CONCEPT .article__text + .article__text {
    margin-top: 8px;
  }
  #TROUBLE,
  .trouble_block {
    margin-top: 60px;
  }
  #TROUBLE #TROUBLE01 .article,
  #TROUBLE #TROUBLE02 .article,
  #TROUBLE #TROUBLE03 .article,
  .trouble_block #TROUBLE01 .article,
  .trouble_block #TROUBLE02 .article,
  .trouble_block #TROUBLE03 .article {
    margin-top: 12px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section + .trouble_section,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section + .trouble_section,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section + .trouble_section,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section + .trouble_section,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section + .trouble_section,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section + .trouble_section {
    margin-top: 40px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section__title,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section__title,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section__title,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section__title,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section__title,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section__title {
    font-size: 32px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section__lead,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section__lead,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section__lead,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section__lead,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section__lead,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section__lead {
    font-size: 24px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section__text,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section__text,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section__text,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section__text,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section__text,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section__text {
    font-size: 18px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section__sample,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section__sample,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section__sample,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section__sample,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section__sample,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section__sample {
    gap: 10px;
    flex-direction: column;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_section .trouble_section_list__item,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_section .trouble_section_list__item,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_section .trouble_section_list__item {
    font-size: 18px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price {
    margin-top: 60px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__title,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__title,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__title,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__title,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__title,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__title {
    font-size: 28px;
    line-height: 1;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__title span,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__title span,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__title span,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__title span,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__title span,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__title span {
    font-size: 14px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__item,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__item,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__item {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item + .trouble_price__item,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item + .trouble_price__item,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item + .trouble_price__item,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__item + .trouble_price__item,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__item + .trouble_price__item,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__item + .trouble_price__item {
    margin-top: 20px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p + p,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p + p,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p + p,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p + p,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p + p,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p + p {
    margin-top: 0;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p.price,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p.price,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p.price,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p.price,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p.price,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p.price {
    font-size: 18px;
    align-self: flex-end;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__item p span,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__item p span,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__item p span,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__item p span,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__item p span,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__item p span {
    font-size: 12px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_price__note,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_price__note,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_price__note,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_price__note,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_price__note,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_price__note {
    margin-top: 24px;
    font-size: 12px;
    text-indent: -1em;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa {
    margin-top: 60px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__title,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__title,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__title,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa__title,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa__title,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa__title {
    font-size: 28px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__list + .trouble_qa__list,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__list + .trouble_qa__list,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__list + .trouble_qa__list,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa__list + .trouble_qa__list,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa__list + .trouble_qa__list,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa__list + .trouble_qa__list {
    margin-top: 18px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__question,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__question,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__question,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa__question,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa__question,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa__question {
    padding-left: 30px;
    font-size: 18px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__question::before,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__question::before,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__question::before,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa__question::before,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa__question::before,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa__question::before {
    font-size: 18px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__answer,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__answer,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__answer,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa__answer,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa__answer,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa__answer {
    font-size: 18px;
    padding-left: 30px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents .trouble_qa__answer::before,
  #TROUBLE #TROUBLE02 .trouble_contents .trouble_qa__answer::before,
  #TROUBLE #TROUBLE03 .trouble_contents .trouble_qa__answer::before,
  .trouble_block #TROUBLE01 .trouble_contents .trouble_qa__answer::before,
  .trouble_block #TROUBLE02 .trouble_contents .trouble_qa__answer::before,
  .trouble_block #TROUBLE03 .trouble_contents .trouble_qa__answer::before {
    font-size: 18px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents__reserve,
  #TROUBLE #TROUBLE02 .trouble_contents__reserve,
  #TROUBLE #TROUBLE03 .trouble_contents__reserve,
  .trouble_block #TROUBLE01 .trouble_contents__reserve,
  .trouble_block #TROUBLE02 .trouble_contents__reserve,
  .trouble_block #TROUBLE03 .trouble_contents__reserve {
    margin-top: 60px;
  }
  #TROUBLE #TROUBLE01 .trouble_contents__reserve a,
  #TROUBLE #TROUBLE02 .trouble_contents__reserve a,
  #TROUBLE #TROUBLE03 .trouble_contents__reserve a,
  .trouble_block #TROUBLE01 .trouble_contents__reserve a,
  .trouble_block #TROUBLE02 .trouble_contents__reserve a,
  .trouble_block #TROUBLE03 .trouble_contents__reserve a {
    font-size: 18px;
  }
  #TROUBLE #TROUBLE02,
  .trouble_block #TROUBLE02 {
    margin-top: 60px;
  }
  #TROUBLE #TROUBLE03,
  .trouble_block #TROUBLE03 {
    margin-top: 60px;
  }
  #GUIDE h3 {
    font-size: 32px;
  }
  #GUIDE .guide_section {
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
  }
  #GUIDE .guide_section:nth-child(odd) {
    flex-direction: column;
  }
  #GUIDE .guide_section h4 {
    font-size: 28px;
    margin: 0;
  }
  #GUIDE .guide_section p {
    font-size: 18px;
    margin: 8px 0 0 0;
  }
  #GUIDE .guide_section p span {
    font-size: 12px;
  }
  #PRICE .price_section + .price_section {
    margin-top: 60px;
  }
  #PRICE .price_section__title {
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 2px solid #57443d;
  }
  #PRICE .price_section__item {
    font-size: 18px;
  }
  #PRICE .price_section__item p {
    flex-direction: column;
    gap: 8px;
  }
  #PRICE .price_section__item p::before {
    display: none;
  }
  #PRICE .price_section__sub_list {
    flex-wrap: wrap;
    font-size: 12px;
    gap: 5px;
    margin-top: 10px;
  }
  #PRICE .voice_reserve a {
    font-size: 18px;
  }
  #CONTACT {
    padding-bottom: 100px;
  }
  #CONTACT .contact_section {
    gap: 20px;
    flex-direction: column;
  }
  #CONTACT .contact_section + .contact_section {
    margin-top: 70px;
  }
  #CONTACT .contact_section__img {
    max-width: 100%;
  }
  #CONTACT .contact_section__title {
    font-size: 24px;
  }
}