@use './common/module' as *;
@use './common/config' as *;

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', 'Roboto', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 游ゴシック,
    'Yu Gothic ', YuGothic, Osaka, メイリオ, Meiryo, 'MS Pゴシック', 'MS P Gothic', sans-serif;
  background: #222;
  // overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
}
