$device_pc: 1280;
$device_tab: 1140;
$device_sp: 768;
$font-NotoSans: 'Noto Sans JP';
$breakpoint-tablet: 1140px;
$breakpoint-mobile: 768px;

$default-hover-ease: cubic-bezier(0.22, 1, 0.36, 1);
$default-hover-anime: opacity 0.4s $default-hover-ease;