@use './common/module' as *;
@use './common/config' as *;

// .u-text-large {
//   font-size: 20px;
//   line-height: 1.6;
//   @include sp {
//     font-size: calc(30 / #{$device_sp} * 100vw);
//   }
// }

// .u-text-medium {
//   font-size: 16px;
//   line-height: 1.6;
//   @include sp {
//     font-size: calc(26 / #{$device_sp} * 100vw);
//     line-height: 1.7;
//   }
// }

// .u-text-small {
//   font-size: 14px;
//   line-height: 1.8;
// }

// .u-note-large {
//   font-size: 16px;
//   line-height: 1.6;
//   @include sp {
//     font-size: calc(26 / #{$device_sp} * 100vw);
//     line-height: 1.7;
//   }
// }

// .u-note-small {
//   font-size: 14px;
//   line-height: 1.6;
//   @include sp {
//     font-size: calc(24 / #{$device_sp} * 100vw);
//     line-height: 1.6;
//   }
// }

.u-alert {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(74, 243, 81, 1);
  display: flex;
  gap: 5px;
  @include sp {
    font-size: 0.8125rem;
  }
  img {
    width: 20px;
    margin-right: 4px;
    @include sp {
      width: 20px;
      margin-right: 6px;
    }
  }
}

// .u-primary-heading {
//   font-size: 56px;
//   line-height: 1.4;
//   font-weight: 700;
//   font-family: 'Noto Sans JP', 'Roboto';
//   @include sp {
//     font-size: 27px;
//   }
// }

// .u-secondary-heading {
//   font-size: 40px;
//   line-height: 1.4;
//   font-weight: 700;
//   @include sp {
//     font-size: calc(52 / #{$device_sp} * 100vw);
//   }
// }

// .u-tertiary-heading {
//   font-size: 32px;
//   line-height: 1.4;
//   font-weight: 700;
//   @include sp {
//     font-size: 27px;
//   }
// }

// .u-quaternary-heading {
//   font-size: 24px;
//   line-height: 1.6;
//   font-weight: 700;
//   @include sp {
//     font-size: calc(32 / #{$device_sp} * 100vw);
//   }

//   &.en_head {
//     @include sp {
//       line-height: 1.4;
//     }
//   }
// }

// .u-quinary-heading {
//   font-size: 20px;
//   line-height: 1.6;
//   font-weight: 700;
//   @include sp {
//     font-size: calc(28 / #{$device_sp} * 100vw);
//   }

//   &.en_head {
//     @include sp {
//       line-height: 1.4;
//     }
//   }
// }

// .u-senary-heading {
//   font-size: 16px;
//   line-height: 1.6;
//   font-weight: 700;
//   @include sp {
//     font-size: calc(16 / #{$device_sp} * 100vw);
//   }
// }
