
  <div id="wrapper">

    <div id="sidebar">
      <div id="sidebarWrap">
        <h1><img src="images/logo.png" width="100%" alt="logo"></h1>
        <nav id="mainnav">
          <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
          <div class="panel">
            <ul>
              <li><a href="//beauty.hotpepper.jp/slnH000142510/blog/" target="_blank">NEWS</a></li>
              <li><a href="#CONCEPT">CONCEPT</a></li>
              <li><a href="#TROUBLE">TROUBLE</a></li>
              <li><a href="#PRICE">PRICE</a></li>
              <li><a href="#GUIDE">STORE GUIDE</a></li>
              <li><a href="#VOICE">VOICE</a></li>
              <li><a href="#QA">Q & A</a></li>
              <li><a href="#CONTACT">CONTACT</a></li>
              <li><a href="//recruit.1jour.jp/">RECRUIT</a></li>
            </ul>
            <ul id="sns">
              <li><a href="//beauty.hotpepper.jp/slnH000142510/" target="_blank"><img src="images/ico_hotpepper.png" width="30" height="30" alt="FB"></a></li>
              <li><a href="//www.instagram.com/1jour_hair_works/" target="_blank"><img src="images/ico_insta.png" width="30" height="30" alt="Instagram"></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>



    <div id="content">
      <!-- スライダーのコンテナ -->
      <div class="swiper">
        <!-- 必要に応じたwrapper -->
        <div id="mainImg" class="swiper-wrapper">
          <!-- スライド -->
          <div class="swiper-slide"><img src="images/main1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="images/main2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="images/main3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="images/main4.jpg" alt=""></div>
          <div class="swiper-slide"><img src="images/main5.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- スライダーのコンテナ -->

      <!-- NEWS -->
      <section id="NEWS">
        <header>
          <h2><span>NEWS</span></h2>
        </header>
        <div class="inner">
          <a href="//beauty.hotpepper.jp/slnH000142510/"><img src="images/news.jpg" alt="アンジュールヘアーワークスの最新情報はココ!"></a>
        </div>
      </section>
      <!-- // NEWS -->
      <!-- CONCEPT -->
      <section id="CONCEPT">
        <header>
          <h2><span>CONCEPT</span></h2>
        </header>
        <div class="inner">
          <div class="article">
            <img src="images/concept.jpg" width="228" alt="オトナ女性のためのヘアサロン">
            <p>女性の悩みに寄り添い共感するためにスタイリストは女性がメインです。<br>
              髪の曲がり角は２７歳と言われています<br>艶がなくなってきた・白髪・うねりやクセが強くなった・細くなったなど様々な悩みが生まれてきます。<br>今、１番気になる気になる悩みは何ですか？</p>
            <p style="font-size: 1.1em;"><strong>私たち１//Jourスタイリストと一緒に解決しましょう</strong></p>
          </div>
          <img src="images/concept2.jpg" width="751" alt="今から始める大人のヘアケア">
        </div>
      </section>
      <!-- // CONCEPT -->
      <!-- TROUBLE -->
      <section id="TROUBLE">
        <header>
          <h2><span>TROUBLE 01</span></h2>
        </header>
        <div class="inner">
          <div class="article">
            <img src="images/trouble1_1.jpg" alt="白髪の悩み" class="showPc"><img src="images/trouble1_sp.jpg" alt="白髪を活かす、明るく染める、ぼかす、白髪染めをご提案します" class="showSp">
            <div class="troubleTop">
              <h5 class="ryumin">白髪の悩み</h5>
              <ul>
                <li><span>白髪染には抵抗がある</span></li>
                <li><span>白髪染めにはまだ抵抗がある</span></li>
                <li><span>白髪染めだと暗い色しかなさそう</span></li>
                <li><span>ジアミンアレルギーで染められない</span></li>
              </ul>
            </div>
            <img src="images/trouble1_2.jpg" alt="白髪を活かす、明るく染める、ぼかす、白髪染めをご提案します" class="showPc">
            <div class="troubleUnder">
              <h5 class="ryumin">白髪を活かす<br>明るく染める<br>ぼかす<br>白髪染めをご提案します</h5>
              <ul>
                <li><span>オシャレに白髪を活かしたい</span></li>
                <li><span>上手に白髪と付き合いたい</span></li>
                <li><span>ジアミンアレルギーがあっても染めたい</span></li>
                <li><span>白髪染めでも明るい色を楽しみたい</span></li>
              </ul>
            </div>
          </div>

          <h3>そんなお悩み解決します</h3>

          <p>１//jour では明るく染める白髪染め・カラーアレルギーでも安心なノンジアミンカラー・<br class="ifpc">白髪を活かす白髪ぼかしハイライトなどのメニューがあります</p>

          <p>「明るく染めたい」「伸びても白髪が目立ちにくい」そんな願い叶えられます<br>
            白髪染めというネガティブなイメージを変えられます<br>
            白髪を活かした白髪ぼかしハイライト、伸びた白髪が目立たない<br class="ifpc">明るく色も楽しめるオトナ世代のヘアカラー。<br>
            自然派の型には９７％天然由来のオーガニックカラーもありますのでご相談ください。</p>

          <p>また、ブリーチなどを使ったハイライトやシークレットカラー<br class="ifpc">などオトナ世代のデザインカラーもお薦めです</p>

          <h4>PRICE</h4>
          <table>
            <tr>
              <td>エイジングケアフルコース</td>
              <td class="price">￥17,500</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">髪と頭皮のエイジングケアを徹底したフルコース<br class="ifpc">ダメージを最小限に抑え、艶のある赤味の出にくいカラーと内部から<br class="ifpc">芯のあり艶のあるしなやかな髪に集中トリートメントで補修します。<br class="ifpc">カット・カラー・予防美容・オーダーメイド9stepトリートメント</td>
            </tr>
            <tr>
              <td>ヘアエステコース</td>
              <td class="price">￥15,500</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">最新トリートメントの5ステップで髪内部ケラチン強化・水分補給・<br class="ifpc">ダブルコートでダメージ補修と艶を復活させます。<br class="ifpc">カット・カラー・予防美容・オーダーメイド5stepトリートメント
              </td>
            </tr>
            <tr>
              <td>予防美容コース</td>
              <td class="price">￥14,500</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">髪のダメージを最小限に、手触り良く艶のあるカラーにさせて頂きます。<br class="ifpc">カット・カラー・予防美容・オーダーメイド2stepトリートメント</td>
            </tr>
            <tr>
              <td>ロング料金</td>
              <td class="price">￥1.000〜1.500</td>
            </tr>
          </table>
          <p style="font-size:.9em">※ カラーの種類によって価格が異なります。</p>
        </div>

        <header>
          <h2><span>TROUBLE 02</span></h2>
        </header>
        <div class="inner">
          <div class="article">
            <img src="images/trouble2_1.jpg" alt="髪質の悩み" class="showPc"><img src="images/trouble2_sp.jpg" alt="髪を傷めず艶と手触りが良くなる最新の髪質改善プログラム" class="showSp">
            <div class="troubleTop">
              <h5 class="ryumin">髪質の悩み</h5>
              <ul>
                <li><span>艶がなくなったと感じませんか？</span></li>
                <li><span>年齢によるダメージ強度低下の痛み</span></li>
                <li><span>水分保持力の低下によるパサつき</span></li>
                <li><span>細りによる強くなってきたクセ</span></li>
              </ul>
            </div>
            <img src="images/trouble2_2.jpg" alt="髪を傷めず艶と手触りが良くなる最新の髪質改善プログラム" class="showPc">
            <div class="troubleUnder">
              <h5 class="ryumin">髪を傷めず<br>艶と手触りが良くなる<br>最新の髪質改善プログラム</h5>
              <ul>
                <li><span>くせ毛や艶のない髪をどうにかしたい</span></li>
                <li><span>髪質改善って何？</span></li>
                <li><span>髪のダメージが気になる</span></li>
                <li><span>縮毛矯正でゴワついている</span></li>
              </ul>
            </div>
          </div>

          <p style="font-size:.9em;">※効果には個人差があり、同様の効果を保証するものではありません</p>

          <h3>そんなお悩み解決します</h3>

          <p><strong>1人1人に合わせたオーダーメイドトリートメント</strong><br>10種の髪質成分を添加することで圧倒的な指の滑りと手触りが得られます</p>
          <p><strong>シャンプー、トリートメントから求める髪質に合わせ</strong><br>メーカー指定のトリートメントソムリエによる髪の状態に合わせたホームケアアドバイス致します</p>

          <p>髪質改善は体質改善と同じように定期的な継続が不可欠です<span class="tabsp">、</span><br class="ifpc">まずは３回続けてみてください</p>

          <p><strong>時間がないから１回でキレイな艶を出したい…</strong><br>そんなわがままメニューもご用意しています<br>髪を極力傷めずツヤと手触りを手に入れたい方にお薦めです</p>

          <h4>PRICE</h4>
          <table>
            <tr>
              <td>ダメージ改善ストレート</td>
              <td class="price">￥25,500</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">繰り返しの矯正で硬くなった髪を内部から補強し、コラーゲンと水分を補給<br class="ifpc">しながら脂質でしなやかに包み込むダブルコートで手触りサラサラな仕上がりに<br class="ifpc">カット・予防美容・プレミアム縮毛矯正・9stepトリートメント</td>
            </tr>
            <tr>
              <td>毛髪強化ストレート</td>
              <td class="price">￥22,000</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">細毛や軟毛、薄毛やぺったり、ボリュームが出にくい髪を強化する厳選された<br class="ifpc">ケラチンをメインに、ボリュームを失う原因になりやすい加水と油分を省いた<br class="ifpc">ハリのある自然なストレート<br class="ifpc">カット・予防美容・酸性ストレート・５stepトリートメント</td>
            </tr>
            <tr>
              <td>キューティクル補修ストレート</td>
              <td class="price">￥21,000</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">毎日のアイロンやドライヤー熱ダメージ、摩擦による切れ毛などで失われた質感<br class="ifpc">をキューティクルから引き締めキャッピングする事で、艶とまとまりを持続させます。<br class="ifpc">カット・予防美容・酸性ストレート・2stepトリートメント</td>
            </tr>
            <tr>
              <td>髪の内部構造から整う新感覚・髪質改善</td>
              <td class="price">￥13,500</td>
            </tr>
            <tr>
              <td colspan="2" class="intro">日々のスタイリングや、繰り返す縮毛矯正により髪内部の地盤や柱がゆがんで<br class="ifpc">しまった基礎部分を再構築し乾かすだけでまとまる最新髪質改善。<br class="ifpc">カット・オージュアインメトリィ<br class="ifpc">＊3回続けると効果的です</td>
            </tr>
            <tr>
              <td>ロング料金</td>
              <td class="price">￥1.000〜1.500</td>
            </tr>
          </table>
          <p style="font-size:.9em">※ 髪の状態・くせ・うねりによって最適なメニューを提案させて頂きます。</p>
        </div>

        <header>
          <h2><span>TROUBLE 03</span></h2>
        </header>
        <div class="inner">
          <div class="article">
            <img src="images/trouble3_1.jpg" alt="頭皮の悩み" class="showPc"><img src="images/trouble3_sp.jpg" alt="髪と頭皮のエイジングケア始めましょう" class="showSp">
            <div class="troubleTop">
              <h5 class="ryumin">頭皮の悩み</h5>
              <ul>
                <li><span>髪のボリュームがなくなった</span></li>
                <li><span>急に年齢を感じる髪になった気がする</span></li>
                <li><span>頭皮のにおいが心配</span></li>
              </ul>
            </div>
            <img src="images/trouble3_2.jpg" alt="髪と頭皮のエイジングケア始めましょう" class="showPc">
            <div class="troubleUnder2">
              <h5 class="ryumin">髪と頭皮の<br>エイジングケア始めましょう</h5>
              <ul>
                <li><span>つむじが目立ってきた</span></li>
                <li><span>つむじが割れて隠せなくなった</span></li>
                <li><span>わたしの頭皮のにおい大丈夫？</span></li>
              </ul>
            </div>
          </div>

          <h3>そんなお悩み解決します</h3>

          <p><strong>1//Jourでは、健康で艶のある髪を育てるには頭皮という土壌の改善が大切と考えています<span class="tabsp">。</span><br class="ifpc">最新機器で頭皮血行を促進し引き締め年齢とともに細くなった血管を太くしていく効果があります。</strong></p>
          <p><strong>おでこのシワ、目尻のたるみなど気になってませんか？<br>頭皮のエイジングケア・予防ケアで頭皮を引き締めリフトアップと全身の若返りが望めます。<br>継続が必要ですが副作用もなく安心です。</strong><br><small>※妊娠中の方はお控えください</small></p>

          <h4>PRICE</h4>
          <table>
            <tr>
              <td>オージュアスパ</td>
              <td class="price">￥7,000</td>
            </tr>
            <tr>
              <td>オージュアスパ ショートタイム　 </td>
              <td class="price">￥5,500</td>
            </tr>
          </table>
          <p style="font-size:.9em">※ スタイリング込み<br>
            ※ マイクロスコープ頭皮診断をさせて頂き最適なコースを提案させて頂きます</p>
        </div>
      </section>
      <!-- // TROUBLE -->
      <!-- GUIDE -->
      <section id="GUIDE">
        <header>
          <h2><span>STORE GUIDE</span></h2>
        </header>
        <div class="inner">
          <h3 class="ryumin">オトナ女性に<br>選ばれている３つの理由</h3>

          <h4>スタイリストは女性だけ</h4>
          <p>女性同士ならではの相談・施術なので色々な悩みを共有できます<span class="tabsp">。</span><br class="ifpc">初回のカウンセリングは十分にさせて頂きますのでどんな小さなお悩みでもご相談ください。</p>
          <p style="font-size:.9em">※オーナーは男性ですが固定指名のお客様のみになりますので<br class="ifpc">初めてのお客様や指名のないお客様は担当しませんのでご安心ください。</p>


          <h4>大切な髪・頭皮を大事にいたわる気持ち</h4>
          <p>お客様の大切な髪や頭皮に丁寧に向き合います<br>ダメージを最小限に抑え、薬剤の選定を致します。<br>頭皮のコート・アルカリの除去・頭皮の保湿トリートメントなどコースのよってさらに安全安心です</p>

          <h4>幅広い対応</h4>
          <p>メージケア・エイジングケア・予防ケア・ジアミンアレルギーなど髪や頭皮の<br class="ifpc">コンディションに合わせた薬剤選定、カラーアレルギーの方へのノンジアミン<br class="ifpc">カラーやオーガニックカラーなど取り揃えています。</p>
        </div>
      </section>
      <!-- // GUIDE -->
      <!-- PRICE -->
      <section id="PRICE">
        <header>
          <h2><span>PRICE</span></h2>
        </header>
        <div class="inner">
          <div class="brackets">
            <div class="brackets2">
              <p class="ti">Color<span class="small">（スタイリング別）</span></p>
              <dl>
                <dt>プレミアムカラー</dt>
                <dd>￥9,000</dd>
                <dt>ノンジアミンカラー</dt>
                <dd>￥9,000</dd>
                <dt>低アルカリ/高彩度カラー</dt>
                <dd>￥8,000</dd>
                <dt>ロング料金</dt>
                <dd>￥1,000～1,500</dd>
                <p class="small">カラー単品メニューはございません<br>他のコースメニューと組み合わせになります</p>

              </dl>
            </div>
            <div class="brackets2">
              <p class="ti">Treatment<span class="small">（スタイリング込み）</span></p>
              <dl>
                <dt>オージュア　エイジングライン</dt>
                <dd>￥8,500</dd>
                <dt>オージュア　ヘアケアライン</dt>
                <dd>￥8,000</dd>
                <dt>12stepトリートメント</dt>
                <dd>￥7,000</dd>
                <dt>9stepトリートメント</dt>
                <dd>￥6,000</dd>
                <dt>5stepトリートメント</dt>
                <dd>￥4,000</dd>
                <dt>2stepトリートメント</dt>
                <dd>￥3,000</dd>
              </dl>
            </div>
            <div class="brackets2">
              <p class="ti">Perm（カット・スタイリング別）</p>
              <dl>
                <dd style="text-align: left">￥6,500</dd>
                <dt></dt>
                <p class="small">ご新規でのパーマのみ施術は行っておりません</p>
              </dl>
            </div>
            <div class="brackets2">
              <p class="ti">SPA<span class="small">（スタイリング込み）</span></p>
              <dl>
                <dt>オージュアスパ </dt>
                <dd>￥7,000</dd>
                <dt>オージュアスパ ショートタイム</dt>
                <dd>￥5,500</dd>
              </dl>
            </div>
            <div class="brackets2">
              <p class="ti">Cut<span class="small">（シャンプー・スタイリング込み）</span></p>
              <dl>
                <dd style="text-align: left">￥5,000</dd>
                <dt></dt>
              </dl>
            </div>
          </div>
        </div>
      </section>
      <!-- // PRICE -->

      <!-- VOICE -->
      <section id="VOICE">
        <header>
          <h2><span>VOICE</span></h2>
        </header>
        <div class="inner">
          <dl>
            <dt>
              <p class="ryumin">初来店です。<br>担当してくださった方の軽快な楽しいおしゃべりと、私の要望をしっかり受け止めて理想的な仕上がりにしてくださってとても満足でした！<br>その後のセルフアレンジの仕方も丁寧に教えてもらえてよかったです！場所もとてもわかりやすいところにあるので初めて行く人も寄りやすいと思います。</p>
            </dt>
            <dd>
              <h4>１//jour hairworks【アンジュールヘアーワークス】からの返信コメント</h4>
              <p>初めてのご来店ありがとうございます♪<br>満足して頂きとても嬉しいです。セルフアレンジのやってみたいものがあれば、アドバイスさせて頂きますのでお気軽にご相談ください。<br>またのお越しを心よりお待ちしてます。</p>
              <p class="attr">女性/ 40代/主婦</p>
            </dd>
          </dl>
          <dl>
            <dt>
              <p class="ryumin">前回初めて伺った時、雰囲気の良さとカウンセリングの丁寧さ、仕上がり共に大満足だったのと、担当の方が素敵だったので、またカットとカラーをお願いしました。</p>
              <p class="ryumin">頭皮が弱いのか荒れやすいので、しばらくカラーは避けていましたが、白髪が気になったので、オーガニックのヴィラロドラカラーにしました。荒れること無く綺麗に仕上がりました。</p>
              <p class="ryumin">カラーもカットもノープランで伺ってしまいましたが、画像を見せていただいてイメージしやすかったし、仕上がりだけじゃなく頭皮が弱い事も丁寧に相談にのってくださり、ありがとうございました。<br>また次回もお願いします。</p>
            </dt>
            <dd>
              <h4>１//jour hairworks【アンジュールヘアーワークス】からの返信コメント</h4>
              <p>先日はご来店ありがとうございました。<br>ご帰宅後、頭皮トラブルもなく過ごせたようで安心いたしました。<br>ヴィラロドラカラーはたくさんのお色も揃っています。<br>季節に合わせてまた違ったお色もお楽しみいただけますので、<br class="ifpc">またご来店の際、色々とご提案できればと思います。<br>嬉しい口コミありがとうございました(^^)</p>
              <p class="attr">女性/ 40代/主婦</p>
            </dd>
          </dl>
          <dl>
            <dt>
              <p class="ryumin">久しぶりにショートヘア。似合わなかったらどうしよう。と不安でしたが、<br class="ifpc">
                丁寧なカウンセリングと説明のおかげで仕上がりも満足。お手入れ方法も教えてくださったので、毎朝の身支度が楽になりました。初めてのヘッドスパも気持ちよかったです。またお願いしたいです。</p>
            </dt>
            <dd>
              <h4>１//jour hairworks【アンジュールヘアーワークス】からの返信コメント</h4>
              <p>ご来店ありがとうございました！<br>ショートヘアもとてもお似合いだったので、気に入って頂けて私も嬉しいです(^^)<br>また気になる点があれば、アドバイスさせて頂きますのでお気軽にご相談ください！<br>ヘッドスパはリラックス効果抜群なので是非またお任せください。<br>またのご来店お待ちしております♪</p>
              <p class="attr">女性/ 50代/主婦</p>
            </dd>
          </dl>
          <dl>
            <dt>
              <p class="ryumin">今回はいつものアッシュ系ではなく、おすすめして頂いた、オレンジが入ったカラーに挑戦してみました。<br>すごく好みの色でした！<br>またよろしくお願いします。</p>
            </dt>
            <dd>
              <h4>１//jour hairworks【アンジュールヘアーワークス】からの返信コメント</h4>
              <p>新しいニュアンスのカラー気に入って頂けて安心しました。<br>とも様の雰囲気にとても合うと思い提案させて頂きました。<br>オレンジもシアーやアプリコットなどいろいろなテイストがありますので<br class="ifpc">季節に合わせてチャレンジしてみてください。<br>またのご利用をお待ちしております。</p>
              <p class="attr">女性/ 40代/主婦</p>
            </dd>
          </dl>
          <div class="brackets">
            <div class="brackets1">
              <ul class="bracketsBtn">
                <li><a href="https://beauty.hotpepper.jp/slnH000142510/review/">もっと見る　&gt;&gt;</a></li>
              </ul>
            </div>
          </div>


        </div>
      </section>
      <!-- // VOICE -->

      <!-- QA -->
      <section id="QA">
        <header>
          <h2><span>Q&nbsp;&amp;&nbsp;A</span></h2>
        </header>
        <div class="inner">
          <dl>
            <dt>駐車場はありますか？</dt>
            <dd>はい、提携コインパーキングがございます。<br>近隣の「リゾン」または「サンアロー」のコインパーキングをご利用ください。<br>お帰りの際に駐車コイン・駐車カードをお渡しします。<br>(分からなければ弊社スタッフまでご連絡頂ければと思います)<br><br><img src="images/qa1.jpg" width="100%" alt="提携コインパーキング"></dd>
            <dt>３０代ですがエイジングケアや頭皮ケアに興味があります。<br>何歳から通えばよいですか？</dt>
            <dd>４０代、５０代の美意識の高いお客様が多いですが、<br class="ifpc">髪や頭皮の曲がり角は２７歳と言われています。<br>早ければ早いほど効果や後々に大きな差が出てきます。<br>頭皮の血行不良により頭皮筋力が低下すると<br class="ifpc">顔のシワやたるみが出てくるので３０歳前後がお奨めです。</dd>
            <dt>忙しいのですが時間はかかりますか？</dt>
            <dd>１//Jourではほぼ完全予約でさせて頂いており、１人のスタイリストが最後まで基本的に施術させて頂いておりますので無駄にお待たせする事はございません。<br>稀に髪の状態やメニュー変更によってお時間を頂くことはございますが、<br class="ifpc">お仕上がり時間を確認させて頂いてからの施術になりますので<br class="ifpc">最短のお時間でさせて頂きます。<br>また、初回だけは２０分ほどのカウンセリング時間を頂いております。<br>１//jourではカウンセリングでお客様のご要望や背景をしっかりとお聞きしお話しする事を大切にしています。<br>初回は少しお時間の余裕を持ってご来店ください。</dd>
            <dt>技術保証はありますか？</dt>
            <dd>サロンでの仕上がりよりもご自宅でのスタイリングの再現性や扱いやすさを重視しています。<br>ご自宅や職場で思ったよりカラーが明るく感じる・暗く感じる、またはスタイリングがしずらいのでもう少し切りたい、パーマが取れてしまった・思ったりより強すぎたなどの時は御遠慮なくすぐにサロンに連絡ください。<br>施術日より２週間以内にご連絡いただければ無料で直しさせて頂きます。<br>またメニュー変更でのお直しの場合は差額を頂戴する場合もございますのでご了承ください。</dd>
          </dl>
        </div>
      </section>
      <!-- // QA -->

      <!-- CONTACT -->
      <section id="CONTACT">
        <header>
          <h2><span>CONTACT</span></h2>
        </header>
        <div class="inner">
          <ul class="col2">
            <li>
              <p>アンジュール　ヘアワークス</p>
              <p>〒351-0006 埼玉県朝霞市仲町1-11-47<br>Tel : 048-299-8180</p>
              <p>OPEN : 9 : 00 - CLOSE : 19 : 00<br>最終受付 18 : 00</p>
              <p>休日 : 毎週火曜日</p>
            </li>
            <li>
              <div id="map">
                <!-- GOOGLE MAP -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.0639972751983!2d139.59957001526203!3d35.79836218016716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e97a2c828293%3A0xe37a732dc40e14d8!2z77yRLy9qb3VyIGhhaXJ3b3Jrc--8iOOCouODs-OCuOODpeODvOODq-ODmOOCouODvOODr-ODvOOCr-OCue-8iQ!5e0!3m2!1sja!2sjp!4v1675549523456!5m2!1sja!2sjp" allowfullscreen></iframe>
                <!-- // GOOGLE MAP -->
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- // CONTACT -->


    </div>
  </div>