@use './common/module' as *;
@use './common/config' as *;

.header_block {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 60px;
  width: 100%;
  margin-inline: auto;

  @include sp {
    padding: 35px;
  }

  &__logo {
    width: 206px;

    @include sp {
      width: 43px;
    }

    img {
      width: 100%;
    }
  }

  &__main {
    display: flex;
    gap: 20px;
  }

  .header_lang {
    display: flex;
    align-items: center;
    gap: 28px;

    @include sp {
      gap: 25px;
    }

    &__img {
      width: 30px;
      aspect-ratio: 1;

      @include sp {
        width: 30px;
      }

      img {
        width: 100%;
      }

      svg {
        fill: #fff;
        stroke: none;
      }
    }

    &__menu {
      width: 32px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      @include sp {
        width: 30px;
        height: 20px;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 100px;
      }
    }
  }
}